*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}
.main-body{
    position: fixed;
    width: 100%;
    height: 100%;
    background:rgb(0,0,0,0.4) url("./img/background.png")no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.logo{
    position: absolute;
    background: url("./img/logo.png") center no-repeat;
    background-size: contain;
    width: 170px;
    height: 170px;
    opacity: 0.9;
    left: 15%;
    opacity: 0.8;
}
#signUp{
    position: absolute;
    right: 10%;
    top: 3.8rem;
    background: transparent;
    padding: 10px 30px;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}
#signUp:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.sideFooter{
    position: absolute;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between !important;
    right: 0;
    top: 0;
    background: black;
    width:400px ;
    height: 100vh;
    background-color: hsl(0 0% 90% / 0.2);
    backdrop-filter: blur(0.2rem);
    display: flex;
    justify-content: flex-start;
    transform: translateX(80%);
    transition: 0.5s;
    z-index: 100;
    
}

.links{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    filter: invert(100%);
    gap: 20px;
    margin-left: 23px;
    opacity: 0.7;
   
}
.links img{
    width: 35px;
    height: 35px;
}


.bar{
    position: relative;
    background:url("./img/bar-1.png") no-repeat center;
    width: 40px;
    height: 40px;
    filter: invert(100%);
    opacity: 0.6;
    margin-left: 20px;
    cursor: pointer;
    top: 3.6rem;
}
.menu{
    transform: translateX(0);
}
.hidden-bar{
    display: none;
}
.menu .hidden-bar{
    display: flex !important;
    margin-left: 20px;
    flex-direction: column;
    position: absolute;
    display: block;
    top:15rem;
    gap:30px;
    font-size: 24px;
    color: white;
    animation: animate2 linear 0.5s;
    
}
.menu .hidden-bar img{
    width: 40px;
    height: 40px;
    filter: invert(100%);
}
.menu .hidden-bar p{
    display: flex;
    width: 150px;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    padding: 10px;
    
}
.menu .hidden-bar a{
    color: white;
    text-decoration: none;
}
.menu .links{
    flex-direction: row;
    align-items: flex-end;
    top: 16rem;
    margin-left:0;
    animation: animate1 linear 1s;
    
}
.menu .links img{
    padding: 10px;
    border: 2px solid black;
    width: 68px;
    height: 68px;
    
}

.terms{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 27px;
    bottom:2rem;
    filter: invert(100%);
    opacity: 0.7;
    gap: 20px;
}
.terms img{
    width: 25px;
    height: 25px;
}
.menu .terms{
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
}
.menu .terms img{
    width: 35px;
    height: 35px;
}
.content{
    position: absolute;
    top: 30%;
    left: 17%;
    color: white;

}
.content h1{
    font-size: 100px;
}
.content p{
    opacity: 0.6;
}
.content button{
    background: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}
.content button:hover{
    opacity: 0.6;
    transition: 0.5s;
}

.bubble{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    bottom: -100px;
    
}
.bubble img{
    width: 70px;
    height: 70px;
    animation:bubble linear infinite 7s;
    
}


.bubble img:nth-child(1){
    animation-delay: 1s;
    width: 90px;
    height: 90px;
}
.bubble img:nth-child(2){
    animation-delay: 6s;
    width: 20px;
    height: 20px;
}
.bubble img:nth-child(3){
    animation-delay: 3.2s;
    width: 50px;
    height: 50px;
}
.bubble img:nth-child(4){
    animation-delay: 7s;
    width: 70px;
    height: 70px;
}
.bubble img:nth-child(5){
    animation-delay: 2.1s;
    width: 80px;
    height: 80px;
}
.bubble img:nth-child(6){
    animation-delay: 4s;
    width: 30px;
    height: 30px;
}
.bubble img:nth-child(7){
    animation-delay: 1.5s;
    width: 50px;
    height: 50px;
}



@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    75%{
        opacity: .5;
    }
    100%{
        transform: translateY(-90vh);
        opacity: 0;
    }

}

@keyframes animate1 {
    0%{
        opacity: 0;
       ;
    }
    100%{
       
        opacity: 0.7;
        
    }
}

@keyframes animate2 {
    0%{
        
        opacity: 0;
        transform: translateX(70%)
    }
    100%{
       
        opacity: 1;
        transform: translateX(0%);
    }
}

@media only screen and (max-width: 600px) {
    .sideFooter{
        visibility: hidden;
        width: 100%;
    }
    .bar{
       visibility: visible;
    }
    #signUp{
       display: none;
    }
    .logo{
        left: 30px;
    }
    .sideFooter.menu{
        visibility: visible;
        transform: translateX(0%);
    }
    .menu .hidden-bar{
        gap: 10px;
        top: 10rem;
        left: -1rem;
    }
    .menu .links{
        top: 12rem;
        gap: 10px;
    }
    .content{
        display: flex;
        gap: 30px;
        flex-direction: column;
    }
    .main-body .content p{
        font-size: 14px;
    }
    .main-body .content h1{
        font-size: 40px;
    }
  }